<!-- where we r going to display the recipe-->
<!-- {% extends 'base.html' %}
{% block title %} Recipes searcher {% endblock %}
{% block body %} -->
<h2 style="text-align: center"> <a href="/" style="text-decoration: none; color:red"> Recipes for you: </a></h2>
<div style="margin-left:35%;">
  <ul class="list-unstyled">
      <head>
        <body>
        <!-- TODO #3: Add Form buttons (back and submit) -->
        <a id='back-btn' href='index.html' class='btn btn-info'>Back</a>
        </body>
      </head>
  </ul>
</div >

  

{% endblock %}